@model IEnumerable<AirlinesProject.Models.AirplaneInfo>

@{
    ViewData["Title"] = "AirplaneDetails";
}

<h1>AirplaneDetails</h1>

<p>
    <a asp-action="Create">Book Now</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirplaneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatingCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirplaneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatingCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.PlaneId">Details</a> 
            
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-action="Delete">Cancellation</a>
</div>
